<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<div>
             <a th:href="@{/login}">

  <button >Login</button>
    </a>
</div>
<div>
    <a th:href="@{/signup}">
<button> SignUp</button>
    </a>
</div>
<div>
  <p>Don't have an account ? SignUp and join us now</p>
  <p>Kindly Login to access your privileges and the services we provide </p>
</div>
</body>
</html>